<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>AIR-SHARING | CO</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
  </head>

  <body>
      <h1><strong>AIR-SHARING</strong><span>Today's O2 air Quality</span></h1>
        <h3 class="box-title">오늘의 o2 차트</h3>
        <div class="container">
        <canvas id="todayCO"></canvas>
      </div>

    <script>
    var configCO = {
      type: 'line',
      data: {
          datasets: [{
              borderColor: "rgba(220,156,118,1)",
              label: "오늘의 CO",

              data: <%- dayData%>,
              fill: false
          }]
      },
      options: {
          responsive: true,
          title:{
              display:true,
              text:"오늘의 CO"
          },
          scales: {
              xAxes: [{
                  type: "time",
                  time:{
                      unit:'day'
                  },
                  display: true,
                  scaleLabel: {
                      display: true,
                      labelString: 'Date'
                  }
              }],
              yAxes: [{
                  display: true,
                  scaleLabel: {
                      display: true,
                      labelString: 'value'
                  }
              }]
          }
      }
  };

  window.onload = function() {

        var ctx = document.getElementById("todayCO").getContext("2d");
        window.myLine1 = new Chart(ctx, configCO);

    };
    </script>
  </body>
</html>
